li{
    margin-bottom: 5px;
  }
  .image-manga {
    width: 300px;
    height: 300px;
    position: center;
    margin-left: 35%;
    margin-right: 65%;
  }
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .lowin{
    margin-left: 20px;
    margin-top: 20px;
  }
  .detail {
    /* background-color: rgb(205, 195, 195); */
    padding: 30px;
    padding-bottom: 300px;
    margin: 20px;
  }
